html{height: 100%;}
body{
    margin: 0; padding: 0;
    background: #fff;

    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    &:after{
        content: '';
        display: block;
        margin: 0; padding: 0;
        width: 100%; height: 2px;
        background-color: #eee;
        position: absolute; top: 50%; right: 0; left: 0; z-index: 1;
    }
}